body{
    display: flexbox;
    background-color:#1F2232;
    color: #BC9EC1;
    font-family: cursive;
    margin: 0;
    padding: 20px;
}
header{
    color: #E3BAC6;
    font-weight: 600;
    justify-content: center;
    padding: 10px;
    font-size: larger;
}
h1{
    justify-content: center;
}
h4{
    color: #E3BAC6;
}
h6{
    font-weight: 700;
    color:#FDE8E9;
}
label{
    color: #FDE8E9;
}